@import "../../../styles.scss";

.container {
  background-color: $main-color;
  padding: 10px;
  border-radius: 3px;
}

.search-input {
  border: none;
  outline: none;
  padding: 10px;
  width: 300px;
  border-radius: 3px;
}
