<div class="container">
  <form>
    <input
    #searchInput
    type="text"
    class="search-input"
    placeholder="Search thousands of videos...">
    <input 
    type="submit"
    class="search-button" 
    value="Search"
    (click)="searchVideos(searchInput.value)">
  </form>
  <div class="videos">
    <div *ngFor="let video of videos" class="video">
      <div class="video-title">{{ video.title }}</div>
      <div class="video-grade">
        <input 
        [(ngModel)]="video.grade"
        min="1" 
        max="5" 
        type="number"
        onkeydown="return false"
        (change)="updateGrade(video)">
      </div>
    </div>
  </div>
</div>