@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

$main-color: #FF6978;
$accent-color: #B1EDE8;
$bg-color: #2A2B2A;
$bg-color-light: #474847;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 4rem;
  font-weight: lighter;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  height: 100vh;
  overflow: hidden;
}