@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

$main-color: #ff6978;
$accent-color: #b1ede8;
$bg-color: #2a2b2a;
$bg-color-light: #474847;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  height: 100vh;
  overflow: hidden;
}
