@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

$main-color: #D98324;
$accent-color: #FFEDDF;
$bg-color: #1F2421;
$bg-color-light: #2F3732;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg-color;
  height: 100vh;
  overflow: hidden;
}
